/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.sass */
.wrapper section, .wrapper section .content {
  width: 1000px;
  height: 750px;
  position: relative;
  margin: 0 auto;
}

/* line 9, ../sass/screen.sass */
html {
  width: 100%;
  height: 100%;
}
/* line 12, ../sass/screen.sass */
html body {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 600px;
  background: #000;
  font-family: "Microsoft JhengHei";
}

/* line 19, ../sass/screen.sass */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 27, ../sass/screen.sass */
.wrapper section .bg {
  position: absolute;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}
/* line 32, ../sass/screen.sass */
.wrapper section .bg img {
  width: 100%;
}
/* line 37, ../sass/screen.sass */
.wrapper section:first-child .car1 {
  position: absolute;
  left: 110px;
  top: 175px;
}
/* line 41, ../sass/screen.sass */
.wrapper section:first-child .title1_1 {
  position: absolute;
  right: 50px;
  top: 133px;
}
/* line 45, ../sass/screen.sass */
.wrapper section:first-child .title1_2 {
  position: absolute;
  left: 40px;
  top: 545px;
}
/* line 50, ../sass/screen.sass */
.wrapper section:nth-child(2) .sliders {
  width: 5760px;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  clear: left;
}
/* line 56, ../sass/screen.sass */
.wrapper section:nth-child(2) .sliders .slider {
  float: left;
  position: relative;
}
/* line 59, ../sass/screen.sass */
.wrapper section:nth-child(2) .sliderbtns {
  position: absolute;
  right: 80px;
  bottom: 30px;
}
/* line 63, ../sass/screen.sass */
.wrapper section:nth-child(2) .sliderbtns .sliderbtn {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
  float: left;
}
/* line 71, ../sass/screen.sass */
.wrapper section:nth-child(2) .sliderbtns .sliderbtn:hover {
  background: #216398;
}
/* line 74, ../sass/screen.sass */
.wrapper section:nth-child(3) .title3 {
  position: absolute;
  left: 103px;
  top: 115px;
}
/* line 78, ../sass/screen.sass */
.wrapper section:nth-child(3) .car {
  position: absolute;
  left: 16px;
  top: 289px;
}
/* line 82, ../sass/screen.sass */
.wrapper section:nth-child(3) .car img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 86, ../sass/screen.sass */
.wrapper section:nth-child(3) .bar3 {
  width: 308px;
  height: 20px;
  background: url(../img/bar3.png) 0 0 no-repeat;
  position: absolute;
  right: 11px;
  top: 233px;
}
/* line 93, ../sass/screen.sass */
.wrapper section:nth-child(3) .bar3 .bar3btn {
  width: 77px;
  height: 20px;
  float: left;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
/* line 100, ../sass/screen.sass */
.wrapper section:nth-child(3) .bar3 .bar3btn div {
  top: -26px;
  left: 10px;
  position: relative;
  display: none;
}
/* line 105, ../sass/screen.sass */
.wrapper section:nth-child(3) .bar3 .bar3btn:hover > div {
  display: block;
}
/* line 108, ../sass/screen.sass */
.wrapper section:nth-child(4) .bg {
  height: 750px;
}
/* line 110, ../sass/screen.sass */
.wrapper section:nth-child(4) .bg img {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 114, ../sass/screen.sass */
.wrapper section:nth-child(4) .content {
  overflow: hidden;
  width: 350px;
  background: #fff;
  position: absolute;
  padding: 0 20px;
}
/* line 120, ../sass/screen.sass */
.wrapper section:nth-child(4) .content .content4_1 {
  position: absolute;
  top: 0;
}
/* line 127, ../sass/screen.sass */
.wrapper nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background: #000;
  color: #fff;
}
/* line 135, ../sass/screen.sass */
.wrapper nav .logo {
  position: absolute;
  top: 30px;
  left: 18px;
}
/* line 139, ../sass/screen.sass */
.wrapper nav .nav_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 143, ../sass/screen.sass */
.wrapper nav ul {
  position: absolute;
  left: 47px;
  top: 79px;
}
/* line 147, ../sass/screen.sass */
.wrapper nav ul li {
  display: block;
  width: 100px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  position: relative;
}
/* line 155, ../sass/screen.sass */
.wrapper nav ul li:hover span {
  display: block;
}
/* line 157, ../sass/screen.sass */
.wrapper nav ul li span {
  width: 12px;
  height: 2px;
  background: #e60021;
  position: absolute;
  left: 0;
  top: 28px;
  display: none;
}
