@import "compass/reset"
@import "compass/css3"
$total : 100%
%content
	width: 1000px
	height: 750px
	position: relative
	margin: 0 auto
%middle
	position: absolute
	top: 0
	left: 100px
	right: 0
	bottom: 0
	margin: auto
html
	width: $total 
	height: $total
	body
		width: $total 
		height: $total
		min-width: 1000px
		min-height: 600px
		background: #000
		font-family: 'Microsoft JhengHei'
		a
			text-decoration: none
			color: #fff
.loading
	position: fixed
	width: 100%
	height: 100%
	left: 0
	top: 0
	z-index:  1
	.loadingbg 
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		background: #000
	.loadingicon 
		width: 250px
		height: 250px
		@extend %middle
		text-align: center
		.loadingpic 
			width: 100%
			height: 100%
			position: absolute
			background-image: url("../img/loading.gif")
			background-position: 0 0
			background-repeat: no-repeat
.wrapper 
	width: $total 
	position: relative
	top: 0
	left: 0
	section
		width: 100%
		height: 750px
		position: relative
		margin: 0 auto
		.bg 
			position: absolute
			width: 100%
			right: 0
			overflow: hidden
		.fadecover
			width: $total
			height: $total
			background: #000
			position: absolute
			top: 0
			left: 0
			display: none
		.content
			width: 1000px
			height: 750px
			position: relative
			margin: 0 auto
		&:first-child
			.content
				div 
					position: absolute
			.car1
				left: 132px
				top: 168px
				display: none
				img
					margin-left: -150px
			.title1_1
				right: 50px
				top: 133px
				display: none
				img
					margin-right: -300px
			.title1_2
				left: 40px
				top: 616px
				display: none
				img
					margin-left: -300px
		&:nth-child(2)
			.sliders
				width: 1920*3px
				position: absolute
				left: 50%
				margin-left: -960px
				clear: left
				.slider
					float: left
					position: relative
			.sliderbtns
				position: absolute
				right: 80px
				bottom: 30px
				.sliderbtn
					width: 10px
					height: 10px
					background: #fff
					border-radius: 50%
					margin-left: 8px
					float: left
					&:first-child
						background: #216398
		&:nth-child(3)
			.bg3
				display: none
			.title3
				position: absolute
				left: 103px
				top: 115px
			.car
				position: absolute
				left: 16px
				top: 289px
				img
					position: absolute
					top: 0
					left: 0
			.bar3
				width: 308px
				height: 20px
				background: url(../img/bar3.png) 0 0 no-repeat
				position: absolute
				right: 11px
				top: 233px
				.bar3btn
					width: 75px
					height: 20px
					float: left
					margin-left: -1px
					cursor: pointer
					color: #fff
					text-align: center
					div
						top: -26px
						left: 8px
						position: relative
						display: none
					&:hover> div
						display: block
		&:nth-child(4)
			.bg
				height: 750px
				img
					position: absolute
					left: 0
					top: 0
			.content
				overflow: hidden
				width: 380px
				background: #fff
				position: absolute
				padding: 0 20px
				right: 30px
				.content4_1
					height: 90%
					width: 90%
					overflow-x: hidden
					overflow-y: auto
					position: absolute
					top: 37px
					img
						position: absolute
						top: 0
		&:nth-child(5)
			.bg
				.bgpic
					position: absolute
			.content
				.car5
					position: absolute
					top: 284px
					left: -50px
					display: none
					img
						margin-left: 1000px
				.title_5
					position: absolute
					top: 125px
					left: 95px
					display: none
			.rightcontent
				width: 40%
				height: 811px
				background: #fff
				position: absolute
				right: -550px
				top: -30px
				display: none
				@include transform(rotate(5deg))
				.content5
					@include transform(rotate(-5deg))
					position: relative
					top: 110px
					left: 38px
					.content5_1btn
						cursor: pointer
						margin: 20px 15px
					div
						position: absolute
						display: none
						&:first-child
							display: block
							top: -66px
		&:nth-child(6)
			width: 1000px
			.bgbox
				position: absolute
				overflow: hidden
				height: 100%
				width: 100%
				left: 50%
				margin-left: -25%
			.bg
				width: 1920px
				left: 50%
				margin-left: -960px
				.bgpic
					position: absolute
				.content
					div
						position: absolute
					.title_6
						left: 130px
						top: 316px
						display: none
					.content6_1
						left: 533px
						top: 517px
						display: none
					.content6_2
						left: 52px
						top: 340px
						display: none
					.content6_3
						left: 398px
						top: 67px
						display: none
				.content6_4
					position: absolute
					right: -3000px
					top: 48px
					height: 665px
					background: #fff
					overflow: hidden
					.contentbox
						position: relative
						height: 83%
						padding: 40px 20px
						overflow: hidden
						.content6_4pic
							position: relative
							top: 0
							height: 110%
							width: 368px
							overflow-x: hidden
							overflow-y: auto
							.content6_4btn
								margin: 50px 0 50px 14px  
								position: relative
								cursor: pointer
		&:nth-child(7)
			.content7
				width: 819px
				height: 421px
				@extend %middle
				.btns
					position: absolute
					top: 0
					left: 17px
					div
						width: 179px
						height: 182px
						margin-right: 14px
						float: left
						cursor: pointer
						@include transform(skewX(10deg))
						@include transform-origin(50% $total)
						&:nth-child(4n)
							margin-right: 0
						&:hover
							background: rgba(0,0,0,.2)
						&:nth-child(n+5)
							margin-top: 25px
			.content7_btn
				cursor: pointer
				position: absolute
				top: 100px
				right: 98px
	.cover
		display: none
		width: $total
		height: $total
		position: fixed
		top: 0
		left: 0
		background: rgba(0,0,0,.7)
		div
			@extend %middle
			display: none
			.x
				position: absolute
				top: 0
				right: 0
				cursor: pointer
		.content5_1popup
			width: 559px
			height: 311px
		.content6_4popup
			width: 857px
			height: 508px
		.content7_p
			width: 943px
			height: 508px
		.content7_popup
			width: 960px
			height: 511px
			background: #fff
			padding-top: 30px
			.content7_popuppic
				display: block
				position: absolute
				top: 0px
				left: 0px
				width: 930px
				height: 511px
				
				overflow-x: hidden
				overflow-y: auto
			.x	
				position: absolute
				right: -47px
		.tvc
			width: 720px
			height: 500px
			.x	
				position: absolute
				right: -47px	

	nav
		position: fixed
		top: 0
		left: 0
		width: 180px
		height: $total
		background: #000
		color: #fff
		.logo
			position: absolute
			top: 30px
			left: 18px
		.nav_bottom
			position: absolute
			bottom: 0
			left: 0
		ul
			position: absolute
			left: 47px
			top: 79px
			height: $total
			li
				display: block
				width: 100px
				height: 7.5%
				text-align: center
				line-height: $total
				cursor: pointer
				position: relative
				&:hover span
					display: block
				span 
					width: 12px
					height: 2px
					background: #e60021
					position: absolute
					left: 0
					top: 17%
					display: none

